#camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#photo-header {
  position: relative;
  top: 0;
  text-align: center;
  color: #000000;
  font-size: 20px;
}

#photo-frame {
  width: 330px;
  height: 150px;
  border: 1px solid #FECF30;
  margin-bottom: 2rem;
}

#camera-card {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 2rem;
  flex-direction: column;
}

#download-icon {
  font-size: 1rem;
  color: #ffffff;
}

#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 0 6rem;
  gap: 6rem;
}
