html {
  overflow-y: hidden;
}

body {
  background-color: #FFFDF1;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  align-items: flex-start;
}

.banner-box {
  margin-bottom: 2rem;
}

#banner {
  width: 395px;
  position: relative;
}

.destination-container {
  display: flex;
  top: 35%;
  left: 6%;
  box-shadow: 1px 1px 5px 2px #00000029;
  border-radius: 15px;
  background-color: #ffffff;
  z-index: 3;
  position: fixed;
  opacity: 0.9;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

#destination-form{
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1.5rem;
}

#first-box {
  display: flex;
  align-items: center;
}

#second-box {
  display: flex;
  flex-direction: column;
}
#location-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  margin-right: 10px;
}

#location-icon {
  color: #FECF30;
  width: 25px;
}

input {
  font-size: 18px;
  margin: 15px 0;
  background: transparent;
  border: none;
  border-bottom: #FECF30 1px solid;
}

#next-btn {
  background-color: #FECF30;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 3px 0px grey;
}

#next-icon {
  font-size: 1.4rem;
  color: white;
}

div#map {
  width: 92%;
  height: 400px;
  position: relative;
  overflow: hidden;
  top: 40px;
}

#distance {
  text-align: center;
}
