.cards-section {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box; /* Space between multiple cards */
  }
  
  .card-container {
    width: 380px;
    height: 135px;
    background-color: #f6f6f6;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
  }
  
  .card-content {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .card-text {
    color: black;
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
  }
  
  .invoice-header {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
  }
  
  .invoice-item {
    margin-top: 0.5rem;
  }
  
  .address-container {
    margin-top: 0.5rem;
    flex-grow: 1;
  }
  
  .address-line {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .address-line + .address-line {
    margin-top: 0.25rem;
  }
  
  .more-details {
    color: black;
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-align: right;
    margin-top: auto;
  }

  .home-button {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%);
    width: 68px;
    height: 30px;
    background-color: #FECF30;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .home-button:hover {
    background-color: #FECF30;
    transform: translate(-50%) scale(1.05);
  }
  
  .home-button:active {
    transform: translate(-50%) scale(0.95);
  }
  
  .home-button-text {
    color: white;
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
  }

