#type {
  margin: 2rem 0 -1rem;
  position: relative;
  /* top: 100px; */
  text-align: center;
  color: #000000;
  font-size: 1.4rem;
}

#parcel-cards {
  margin: 3rem 1.5rem 2rem;
  padding-right: 1.5rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.3rem;
}

.icon-box {
  position: relative;
  font-size: 14px;
  background-color: #ffffff; /* Set background for each box */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f3bb05;
  font-weight: 600;
  min-height: 80px; /* Set minimum height to ensure all boxes are equal */
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(103, 103, 103, 0.1);
  width: 70px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s; /* added by angela */
}

/* added by angela */
.icon-box.selected {
  border-color: #FECF30 ;
  border: 2px solid #2a2a2a;
} /* added by angela */

.info-box {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
}

.info-button {
  font-size: 1.1rem;
  color: #fecf308c;
  z-index: 3;
}

/* Optional: Add hover effect */
.icon-box:hover {
  background-color: #FECF30;
  color: #2a2a2a;
}

.parcel-icon {
  font-size: 20px;
}

/* NAV CONTAINER FOR FORM PAGE */
.nav-container {
  position: sticky;
  top: 0;
}
/* ---------------------------------------------- */
/* Show the popup when info-button is clicked */
.info-box.active .info-popup {
  display: block;
}

/* General styling for the popup */
.info-popup {
  display: none; /* Initially hidden */
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.952);
  color: #FECF30;
  padding: 10px;
  border-radius: 8px;
  z-index: 1; /* Lower z-index to ensure the popup is behind the button */
  max-width: 400px;
  width: 65%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-head {
  color: #555555;
  font-weight: 900;
}
.info-popup p {
  font-weight: 400;
  font-size: 0.8rem;
  color: #555555;
}

.vehicle-icon {
  font-size: 2rem;
}
