.nav-container {
  /* width: 100%; */
  background-color: #FECF30;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 30px;
  z-index: 1000;
  position: relative;
  width: 100%;
  max-width: 432px;
  margin: 0 auto;
  /* mask: radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))), #000 99%, #0000 101%)
      calc(50% - 3 * var(--size)) 0/calc(1.5 * var(--size)) 100%,
    radial-gradient(var(--R) at 50% calc(100% + var(--p)), #0000 99%, #000 101%)
      50% calc(100% - var(--size)) / calc(4 * var(--size)) 100% repeat-x; */
}

/* .wave {
  --size: 60px;
  --m: 0.3;
  --p: calc(var(--m)*var(--size));
  --R: calc(var(--size)*sqrt(var(--m)*var(--m) + 1));
} */

#signout-icon {
  width: 38px;
  position: absolute;
  left: 1.5rem;
  cursor: pointer;
}

#logo {
  width: 70px;
  position: relative;
}

#avatar {
  box-shadow: 0px 0px 5px 2px #ffffff61;
  position: absolute;
  right: 1.5rem;
  width: 40px;
  border-radius: 50%;
}

.nav-content {
  width: 100%;
  padding: 0 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
