#vehicle-cards {
  margin: 3rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

#vehicle-buttons {
  display: grid;
  grid-template-rows: 1fr;
  gap: 2rem;
  justify-items: center;
}

button {
  width: 165px;
  font-weight: 900;
}

* Individual Vehicle Card */
.icon-box {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
}

/* added by angela */
.icon-box.selected {
  border-color: #FECF30 ;
  border: 2px solid #2a2a2a;
} /* added by angela */
